<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ATEYieldRateStatisticSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ATEYieldRateStatisticSystem.Properties.Settings>
            <setting name="ATEYieldRateStatisticSystem_SFCS_ws_WebService"
                serializeAs="String">
                <value>http://10.62.201.100/Tester.WebService/WebService.asmx</value>
            </setting>
        </ATEYieldRateStatisticSystem.Properties.Settings>
    </applicationSettings>
</configuration>